@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono);
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .nav-link {
    @apply font-medium transition-colors hover:text-blue-500;
  }
}
